<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
    <div id="app">
    <h1 id="title" class="text-2xl text-blue-900 text-center">{{title}}</h1>
    <h3 class="text-xl text-blue-900 text-center">Total Inventory: {{total}} </h3>
    <div class="flex flex-col">
        <input placeholder="New Product" type="text"class="rounded p-2 w-10/12 mx-auto mt-4" v-model="newProduct" @change="addProduct"/>
        <ul>
            <li v-for="product in products" class="bg-white w-10/12 mx-auto mt-2 py-2 px-2 text-gray-900 rounded shadow">
                
                <span v-if="product.qty==0" class="text-xs font-bold text-red-800">Out of Stock</span>
                <span>{{product.qty}} - {{product.name}}</span>
                <button class="bg-green-500 ml-10 px-4 text-white rounded hover:bg-green-700" @click="product.qty++">+</button>

                <button 
                v-show="product.qty>0"
                class="bg-red-500 ml-4 px-4 text-white rounded hover:bg-red-700" @click="product.qty--">-</button>
            </li>

        </ul>
    </div>
</div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>
</html>